<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BartekApp</a>
    </div>
</div>

@*<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>*@

@*<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="IncomePage">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sprzedarz
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DeliveryPage">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Dowóz
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CashRegisterPage">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Kasa
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CostsPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Koszty
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EmployeePage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pracownik
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HistoryPage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Historia
            </NavLink>
        </div>
    </nav>
</div>*@