@page "/CardPaymentsPage"
@using BartekApp.Data
@using BartekApp.Enums
@using BartekApp.Models
@inject NavigationManager Navigation
@inject TransactionService TransactionService


<div class="container mt-3">
    <h2 class="mb-4">Płatności kartą</h2>
    
    <EditForm Model="@transaction" OnValidSubmit="@AddIncome">
        <DataAnnotationsValidator />
        <ValidationSummary />
        
        <div class="mb-3">
            <label for="amount" class="form-label">Kwota *</label>
            <InputNumber class="form-control" id="amount" @bind-Value="transaction.Amount" step="0.01" min="0" />
            <ValidationMessage For="@(() => transaction.Amount)" />
        </div>
        
        <div class="mb-3">
            <label for="date" class="form-label">Data</label>
            <InputDate class="form-control" @bind-Value="date" />
        </div>
        
        <button type="submit" class="btn btn-primary">Dodaj przychód</button>
        <a href="/" class="btn btn-secondary ms-2">Wróć</a>
    </EditForm>
    
    @if (showSuccess)
    {
        <div class="alert alert-success mt-3">Przychód został dodany!</div>
    }
</div>

@code {
    private Transaction transaction = new() { IsIncome = true, ToBalance = false};
    private bool showSuccess = false;
    private DateTime date = DateTime.Now;
    
    private async Task AddIncome()
    {
        transaction.Date = date;
        transaction.CategoryType = CashCategory.CardPayments;
        await TransactionService.AddTransactionAsync(transaction);
        showSuccess = true;
        transaction = new() { IsIncome = true, ToBalance = false};
        
        await Task.Delay(1000);
        Navigation.NavigateTo("/");
    }
}